<h1><%= Ticket.model_name.human%>一覧</h1>

<table>
  <tr>
    <th><%= Ticket.human_attribute_name('is_completed')%></th>
    <th><%= Ticket.human_attribute_name('title')%></th>
    <th><%= Ticket.human_attribute_name('body')%></th>
    <th><%= Ticket.human_attribute_name('due_date')%></th>
  </tr>

  <% @tickets.each do |t| %>
    <tr>
      <td>
        <%= check_box nil, nil, { checked: t.is_completed }, true, false %>
      </td>
      <td><%= t.title %></td>
      <td><%= t.body %></td>
      <td><%= t.due_date %></td>
    </tr>
  <% end%>
</table>

<%= link_to '新規登録', new_ticket_path, class: 'btn btn-primary' %>
